*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.logoContainer{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
}
.logoContainer > img{
    width: 100px;
}
.home-header{
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
    align-items: center;
}
.home-header > img{
    width: 100px;
}
.home-header > h2{
    font-size: 18px;
    text-align: left;
}
.video-container{
    height: 230px;
    background-image: url("./home/img/video-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container > img{
    width: 100px;
}
.home-item-Container{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.home-item-Container > img{
    width: 150px;
    height: 200px;
}
.home-item-Container > section >h2{
    font-size: 20px;
    text-align: left;
}
.home-item-Container > section > ul{
    list-style-type: none;
}
.home-item-Container > section > ul > li{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.home-item-Container > section > ul > li > span{
    text-align: left;
}
.home-item-Container > section > ul > li > img{
    width: 10px;
    margin: 5px 5px 0 0;
}
.info{
    display: flex;
    padding: 0 10px;
    margin-top: 40px;
}
.info > img{
    width: 100px;
    border: solid 2px #2F80ED;
    padding: 10px;
    border-radius: 6px;
}
.info > div{
    text-align: left;
}
.info > div > p{
    margin-top: 20px;
}
.Footer-Container{
    /* position: fixed;
    left: 0;
    bottom: 0; */
    background-color: white;
    display: flex;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 0 5px #c8c8c8;
    margin-top: 40px;
    font-weight: 400;
}
.Footer-Container > div > a{
    text-decoration: none;
}
.Footer-Container > div > a > p{
    color: #424242;
}
.Footer-Container > div:nth-of-type(1) > a  > img{
    border-radius: 5px;
    border: solid 2px #8c8c8c;
}
.Footer-Container > div:nth-of-type(3){
    background-color: #2F80ED;
    border-radius: 100px;
    padding: 10px;
    margin-top: -100px;
}
.Footer-Container > div > a  > img{
    width: 50px;
    height: 50px;
    padding: 0px;
}
.faq-Container > section:nth-of-type(1){
    padding: 70px 20px;
}
.faq-Container > section:nth-of-type(1) > h2{
    font-size: 30px;
    font-weight: 700;
}
.faq-Container > section:nth-of-type(1) > h5{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
}
.faqItem-Container{
    border-top: 1px solid #8c8c8c;
    padding: 20px 10px;
}
.faqItem-Container > section > div{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
}
.faqItem-Container > section > div > img{
    width: 40px;
}
.faqItem-Container > section > p{
    text-align: left;
    font-size: 15px;
    line-height: 20px;
}
.redirect-Container{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirect-Container section h2{
}
.redirect-Container section h5{
font-weight: 400;
}
.redirect-Container > div{
}
.redirect-Container > div > div{
}
.redirect-Container > div > div > img{
    width: 100px;
    animation-name: ani;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.animation-container{
    height: 30vh;
    width: 100%;
    position: relative;
}
.animation-container > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation-name: ani1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100px;
    padding: 10px;
}
.animation-container > img:nth-of-type(1){
    width: 50px;
}
.animation-container > img:nth-of-type(2){
    width: 100px;
    animation-delay: 1.5s;
}
@keyframes ani1 {
    0% {
        opacity: 1;
        border: 2px solid #2F80ED;
    }
    50% {
        opacity: 0;
        border: 2px solid #2F80ED;
    }
    100% {
        opacity: 1;
        border: 2px solid #2F80ED;
    }
  }
  @media only screen and (min-width: 600px) {
    *{
        font-size: x-large;
    }
    .logoContainer{
        padding: 20px 30px 0 0;
    }
    .logoContainer > img{
        width: 200px;
    }
    .home-header > img{
        width: 300px;
    }
    .home-header > h2{
        font-size: 40px;
        text-align: left;
    }
    .video-container{
        height: 530px;
    }
    .video-container > img{
        width: 150px;
    }
.home-item-Container{
    padding: 0 30px;
}
.home-item-Container > img{
    width: 300px;
    height: 350px;
}
.home-item-Container > section >h2{
    font-size: 35px;
}
.home-item-Container > section > ul > li{
    margin-top: 25px;
}
.home-item-Container > section > ul > li > img{
    width: 30px;
    margin: 0px 5px 0 0;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: 50px 0;
}
.info > img{
    width: 150px;
    border: solid 4px #2F80ED;
    padding: 10px;
    border-radius: 10px;
}
.info > div > p{
    margin-top: 20px;
    font-size: 25px;
}
.info > div > h3{
    font-size: 40px;
}
.Footer-Container{
    height: 250px;
    padding: 0 30px;
    font-weight: 500;
    margin-top: 100px;
}
.Footer-Container > div > a > p{
    color: #8c8c8c;
}
.Footer-Container > div:nth-of-type(1) > a  > img{
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border: solid 2px #8c8c8c;
}
.Footer-Container > div:nth-of-type(2) > a  > img{
    width: 150px;
    height: 150px;
margin-top: -20px;
}
.Footer-Container > div:nth-of-type(3){
    padding: 30px;
    margin-top: -160px;
}
.Footer-Container > div > a  > img{
    width: 100px;
    height: 100px;
}
.faq-Container > section:nth-of-type(1){
    padding: 70px 40px;
}
.faq-Container > section:nth-of-type(1) > h2{
    font-size: 56px;
    font-weight: 700;
}
.faq-Container > section:nth-of-type(1) > h5{
    font-size: 30px;
    font-weight: 400;
}
.faqItem-Container{
    padding: 40px 30px;
}
.faqItem-Container > section > div > h2{
    font-size: 35px;
}
.faqItem-Container > section > div > img{
    width: 70px;
}
.faqItem-Container > section > p{
    text-align: left;
    font-size: 25px;
    line-height: 35px;
}
.redirect-Container{
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirect-Container section h2{
    font-size: 50px;
}
.redirect-Container section h5{
    font-size: 30px;
font-weight: 400;
}
.animation-container > img{
    padding: 30px;
}
.animation-container > img:nth-of-type(1){
    width: 100px;
}
.animation-container > img:nth-of-type(2){
    width: 150px;
    animation-delay: 1.5s;
}
  }
  @media only screen and (min-width: 992px) {
    .logoContainer{
        padding: 30px 40px 0 0;
    }
    .logoContainer > img{
        width: 300px;
    }
    .home-header > img{
        width: 500px;
    }
    .home-header > h2{
        font-size: 60px;
    }
    .video-container{
        height: 730px;
    }
    .video-container > img{
        width: 200px;
    }
.home-item-Container{
    padding: 0 40px;
}
.home-item-Container > img{
    width: 500px;
    height: 600px;
}
.home-item-Container > section >h2{
    font-size: 50px;
}
.home-item-Container > section > ul > li{
    margin-top: 35px;
}
.home-item-Container > section > ul > li > img{
    width: 40px;
    margin: 0px 5px 0 0;
}
.home-item-Container > section > ul > li > span{
    font-size: 35px;
}
.info{
    padding: 0 40px;
    margin: 60px 0;
}
.info > img{
    width: 200px;
    padding: 20px;
}
.info > div > p{
    margin-top: 30px;
    font-size: 35px;
}
.info > div > h3{
    font-size: 55px;
}
.Footer-Container{
    height: 350px;
    padding: 0 40px;
    margin-top: 150px;
}
.Footer-Container > div:nth-of-type(1) > a  > img{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    border: solid 2px #8c8c8c;
}
.Footer-Container > div:nth-of-type(2) > a  > img{
    width: 200px;
    height: 200px;
}
.Footer-Container > div:nth-of-type(3){
    padding: 50px;
    margin-top: -300px;
}
.Footer-Container > div > a  > img{
    width: 100px;
    height: 100px;
}
.faq-Container > section:nth-of-type(1){
    padding: 70px 40px;
}
.faq-Container > section:nth-of-type(1) > h2{
    font-size: 80px;
}
.faq-Container > section:nth-of-type(1) > h5{
    font-size: 50px;
}
.faqItem-Container{
    padding: 60px 40px;
}
.faqItem-Container > section > div > h2{
    font-size: 50px;
}
.faqItem-Container > section > div > img{
    width: 90px;
}
.faqItem-Container > section > p{
    text-align: left;
    font-size: 30px;
    line-height: 40px;
}
.redirect-Container section h2{
    font-size: 70px;
}
.redirect-Container section h5{
    font-size: 40px;
}
.animation-container > img{
    padding: 50px;
    border-radius: 200px;
}
.animation-container > img:nth-of-type(1){
    width: 200px;
}
.animation-container > img:nth-of-type(2){
    width: 250px;
}
  }
  @media only screen and (min-width: 1200px) {
    .logoContainer{
        margin: 0 auto;
        max-width: 500px;
    }
    .home-header{
        margin: 0 auto;
        max-width: 500px;
    }
    .home-header > img{
        max-width: 150px;
    }
    .home-header > h2{
        font-size: 28px;
    }
    .video-container{
        max-height: 360px;
        margin: 0 auto;
        max-width: 500px;
    }
    .video-container > img{
        width: 100px;
    }
    .home-item-Container{
        margin: 20px auto;
        max-width: 500px;
    }
    .home-item-Container > img{
        max-width: 300px;
        max-height: 400px;
    }
    .home-item-Container > section >h2{
        font-size: 25px;
    }
    .home-item-Container > section > ul > li > span{
        font-size: 20px;
    }
    .home-item-Container > section > ul > li > img{
        max-width: 20px;
    }
    .info{
        max-width: 500px;
        margin: 20px auto;
    }
    .info > img{
        max-width: 100px;
    }
    .info > div > h3{
        font-size: 35px;
    }
    .info > div > p{
        margin-top: 20px;
        font-size: 25px;
    }
    .Footer-Container{
        max-height: 160px;
        max-width: 500px;
        margin: 60px  auto 0 auto;
    }
    .Footer-Container > div > a  > img{
        max-width: 100px;
        max-height: 100px;
    }
    .Footer-Container > div > a  > p{
        font-size: 20px;
    }
    .Footer-Container > div:nth-of-type(1) > a  > img{
        max-width: 60px ;
        max-height: 60px;
    }
    .Footer-Container > div:nth-of-type(3){
        background-color: #2F80ED;
        border-radius: 100px;
        padding: 10px;
        margin-top: -100px;
    }
    .faq-Container{
        max-width: 500px;
        margin: 60px  auto 0 auto;
    }
    .faq-Container > section:nth-of-type(1) > h2{
        font-size: 50px;
    }
    .faq-Container > section:nth-of-type(1) > h5{
        font-size: 20px;
    }
    .faqItem-Container{
        padding: 30px 10px;
    }
    .faqItem-Container > section > div >h2{
        font-size: 25px;
    }
    .faqItem-Container > section > div > img{
        max-width: 40px;
    }
    .faqItem-Container > section > p{
        font-size: 18px;
        line-height: 25px;
    }
    .redirect-Container{
        max-width: 500px;
        margin: 60px  auto 0 auto;
    }
    .redirect-Container section h2{
        font-size: 40px;   
    }
    .redirect-Container section h5{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .redirect-Container > div > div > img{
        max-width: 150px;
    }
    .animation-container > img:nth-of-type(1){
        width: 50px;
    }
    .animation-container > img:nth-of-type(2){
        width: 100px;
        animation-delay: 1.5s;
    }
  }